<%- include ("../partials/adminnavbar.ejs") -%>

<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" 
        crossorigin="anonymous">
</script>
<script src="dist/jquery.simple-checkbox-table.min.js"></script>

<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400" rel="stylesheet">

<style>
* {
  box-sizing: border-box;
}

#myInput {
  background-image: url('/css/searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  display: block;
  margin: 0 auto;
  width:400px;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myTable {
  border-collapse: collapse;
  display: block;
  margin: 0 auto;
  width:1100px;
  border: 1px solid #ddd;
  font-size: 18px;
}

#myTable th, #myTable td {
  text-align: left;
  padding: 12px;
  font-family: 'Courier New', Courier, monospace;
}

#myTable tr {
  border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
  background-color: #f1f1f1;
}

h1 {
  font-size: 100px;
  text-transform: uppercase;
  font-family: 'Gambetta', serif;
  letter-spacing: -3px;
  transition: 700ms ease;
  font-variation-settings: "wght" 311;
  margin-bottom: 0.8rem;
  color: rgb(132, 130, 117);
  outline: none;
  text-align: center;
}

h1:hover {
  font-variation-settings: "wght" 582; 
  letter-spacing: 1px;
}

p {
  font-size: 1.2em;
  line-height: 150%;
  text-align: center;
  color: MintCream;
  letter-spacing: .5px;
}

span {
  font-family: Impact, Haettenschweiler, 'Arial Bold', sans-serif;
  letter-spacing: 1px;
  padding-left: 0px;
  
}

button {
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  --s: 0em;   /* the thickness of the line */
  --c: #520a0a; /* the color */
  
  color: #0000;
  padding-bottom: var(--s);
  background: 
    linear-gradient(90deg,var(--c) 50%,#000 0) calc(100% - var(--_p,0%))/200% 100%,
    linear-gradient(var(--c) 0 0) 0% 100%/var(--_p,0%) var(--s) no-repeat;
  -webkit-background-clip: text,padding-box;
          background-clip: text,padding-box;
  transition: 0.5s;
}

button:hover {--_p: 100%}
</style>
</head>
<body>

<h1 contenteditable><em>LIST OF BARBERSHOPS</em></h1>

<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name">

<table id="myTable">
  <tr class="header">
    <th width="20%">Barbershop Name</th>
    <th width="60%">Barbershop Address</th>
    <th >Email</th>
    <th >Contact</th>
    <th >Status</th>
  </tr>
  
  <% for(let user of users){ %>
    <tr>
        <td><%= user.barbershopName %></td>
        <td><%= user.barbershopAddress %></td>
        <td><%= user.email %></td>
        <td><%= user.barbershopContact %></td>
        <td><a href="deletebarbershops/<%=user._id%>" onclick="return confirm('Are you sure you want to delete this barbershops?');">
          <button class="button" ><span>remove</span></button></a>
    </td>
    </tr>
    <% } %>
</table>

<script>
function myFunction() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }       
  }
}
</script>

</body>
</html>